<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <!--X-UA-Compatible 是针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
    <meta http-equiv="X-UA-COMPATIBLE" CONTENT="IE=edge"/>
    <title>Title</title>
</head>
<body>
<div th:if="${param.error}">
    用户名或密码错
</div>
<div th:if="${param.logout}">
    您已注销成功
</div>
<form th:action="@{/login}" method="post">
    <div><label> 用户名 : <input type="text" name="username"/> </label></div>
    <div><label> 密  码 : <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="登录"/></div>
</form>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="注销"/>
</form><br/><br/>
<a th:href="@{/websocket}">websocket</a>&nbsp;&nbsp;
<a th:href="@{/user/findAll}">user information</a>&nbsp;&nbsp;
<a th:href="@{/leaf}">leaf</a>&nbsp;&nbsp;
</body>
</html>